[[configure_the_network, Configure the network]]

=== Requirements

==== Mandatory flows

The following flows from the Nodes to the Rudder Root Server has to be allowed:

====

include::../glossary/port-5309.txt[]

include::../glossary/port-443-nodes.txt[]

include::../glossary/port-514.txt[]

====

And this one is optional: 

====

include::../glossary/port-5310.txt[]

====

Open the following flow from the clients desktop to the Rudder Root Server:

====

include::../glossary/port-443-user.txt[]

====

==== Optional flows

These flows are used to add features to Rudder:

====
   
// include::../glossary/big-red-button.txt[]

include::../glossary/cfengine-enterprise.txt[]

====

==== DNS - Name resolution

By default, Rudder relies on the Node declared hostnames to identify them, for
security reasons. It is required that each Node hostname can be resolved to its
IP address that will be used to contact the Rudder Server.

Similarly, each Rudder Node must be able to resolve the Rudder Root Server
hostname given in the step described in <<initial-config>>.

If you can not make every node resolution consistent, it is possible to remove
this constraint by unticking "Use reverse DNS lookups on nodes to reinforce
authentication to policy server:" in the Administration - Settings tab of the
Rudder web interface.

