/* Webfont: LatoLatin-Black */@font-face {
    font-family: 'LatoLatinWebBlack';
    src: url('fonts/LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Black.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BlackItalic */@font-face {
    font-family: 'LatoLatinWebBlack';
    src: url('fonts/LatoLatin-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-BlackItalic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Bold */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Bold.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BoldItalic */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-BoldItalic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Hairline */@font-face {
    font-family: 'LatoLatinWebHairline';
    src: url('fonts/LatoLatin-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Hairline.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-HairlineItalic */@font-face {
    font-family: 'LatoLatinWebHairline';
    src: url('fonts/LatoLatin-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-HairlineItalic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Heavy */@font-face {
    font-family: 'LatoLatinWebHeavy';
    src: url('fonts/LatoLatin-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Heavy.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-HeavyItalic */@font-face {
    font-family: 'LatoLatinWebHeavy';
    src: url('fonts/LatoLatin-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-HeavyItalic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Italic */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Italic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Light */@font-face {
    font-family: 'LatoLatinWebLight';
    src: url('fonts/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Light.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-LightItalic */@font-face {
    font-family: 'LatoLatinWebLight';
    src: url('fonts/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-LightItalic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Medium */@font-face {
    font-family: 'LatoLatinWebMedium';
    src: url('fonts/LatoLatin-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Medium.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-MediumItalic */@font-face {
    font-family: 'LatoLatinWebMedium';
    src: url('fonts/LatoLatin-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-MediumItalic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Regular.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Semibold */@font-face {
    font-family: 'LatoLatinWebSemibold';
    src: url('fonts/LatoLatin-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Semibold.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-SemiboldItalic */@font-face {
    font-family: 'LatoLatinWebSemibold';
    src: url('fonts/LatoLatin-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-SemiboldItalic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Thin */@font-face {
    font-family: 'LatoLatinWebThin';
    src: url('fonts/LatoLatin-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-Thin.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-ThinItalic */@font-face {
    font-family: 'LatoLatinWebThin';
    src: url('fonts/LatoLatin-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/LatoLatin-ThinItalic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

