<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="{{or site.url (or siteRootUrl siteRootPath)}}"></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
{{#if (eq site.url "https://docs.rudder.io")}}
      <div class="navbar-item">
        <span class="algolia-autocomplete">
          <input type="text" size="35" id="docsearch" name="search" placeholder="Search the docs..." />
          <span id="docsearch-addon"></span>
        </span>
      </div>
{{/if}}
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://faq.rudder-project.org/">FAQ</a>
	          <a class="navbar-item" href="https://docs.rudder.io/files/rudder-cheatsheet-advanced.pdf">Cheatsheet</a>
            <a class="navbar-item" href="https://www.rudder-project.org/site/">Website</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Community</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.rudder-project.org/site/community/mailing-lists/">Discussion channels</a>
            <a class="navbar-item" href="https://github.com/Normation/">Code</a>
            <a class="navbar-item" href="https://www.rudder-project.org/redmine/">Bug tracker</a>
          </div>
        </div>
	      <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Support</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.rudder-project.org/site/support/forums-lists/">Mailing lists</a>
            <a class="navbar-item" href="https://www.rudder-project.org/site/support/chat-mailing-lists/">Chat</a>
            <a class="navbar-item" href="https://serverfault.com/questions/tagged/rudder">Questions</a>
            <a class="navbar-item" href="http://www.normation.com/en/rudder/subscription/">Commercial support</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://gitter.im/normation/rudder">Chat</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
