<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="{{or site.url (or siteRootUrl siteRootPath)}}"></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
{{#if (eq site.url "https://docs.rudder.io")}}
      <div class="navbar-item">
        <span class="algolia-autocomplete">
          <input type="text" size="35" id="docsearch" name="search" placeholder="Search the docs..." />
          <span id="docsearch-addon"></span>
        </span>
      </div>
{{/if}}
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://docs.rudder.io/files/rudder-cheatsheet-advanced.pdf">Cheatsheet</a>
            <a class="navbar-item" href="https://www.youtube.com/user/RudderProject/playlists?view=50&sort=dd&shelf_id=3">Videos</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Support</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://www.rudder.io/open-source/community/">Community</a>
            <a class="navbar-item" href="https://www.rudder.io/pricing/subscription/">Subscription</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary chat" target="_blank" href="https://chat.rudder.io">Chat</a>
            <a class="button is-primary site" target="_blank" href="https://www.rudder.io">Website</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
