<div class="navigation-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="navigation">
    <div class="panels">
      {{> navigation-explore}}
      {{> navigation-menu}}
    </div>
  </aside>
</div>
