[[configure_the_network, Configure the network]]

=== Requirements

==== Networking

===== Mandatory flows

The following flows from the Nodes to the Rudder Root Server have to be allowed:

====

include::../../glossary/port-5309.txt[]

include::../../glossary/port-80-nodes.txt[]

include::../../glossary/port-514.txt[]

====

Open the following flow from the clients desktop to the Rudder Root Server:

====

include::../../glossary/port-80-user.txt[]

====

===== Optional flows

These flows are used to add features to Rudder:

====
   
// include::../glossary/big-red-button.txt[]

include::../../glossary/cfengine-nova.txt[]

====

===== DNS - Name resolution

Currently, Rudder relies on the Node declared hostnames to identify them. So it
is required that each Node hostname can be resolved to its IP address that will
be used to contact the Rudder Server. We are aware that it is far from being
ideal in most cases (no DNS environment, private sub-networks, NAT, etc...),
and we are currently working on an alternative solution.

If you do not have the wished name resolution, we advise that you should fill
the IP address and hostname of the +/etc/hosts+ file of the Rudder Root Server.

Similarly, each Rudder Node must be able to resolve the Rudder Root Server
hostname given in the step described in <<initial-config>>.

