
[[configure-the-network]]
==== Networking

.Network Flows
[options="header"]
|=======================
|To|From|Port|Usage
|Root Server|User or API client| *tcp/443* (https) | Access Web interface/API
.6+|Policy Server |Any Node|*udp/514* (or tcp/514) |Send reports
.3+|Linux or AIX Node | *tcp/443* (https/WebDAV) | Send inventories
|  *tcp/5309*    |Fetch policies
|  _tcp/5310 (optional)_    |Debug policy copy
|AIX Node | *tcp/80* (http/WebDAV) | Send inventories
|Windows DSC Node | *tcp/443* (https/WebDAV) | Send inventories and fetch policies
|Linux or AIX Node | Policy Server | _tcp/5309 (optional)_ | Trigger remote agent run
|=======================

Note: The Policy Server is the server configured to manage the node, and can be
either a Root Server or a Relay Server.

===== DNS - Name resolution

If you want to be able to trigger agent runs from the Root Server (without
having to wait for regular automated run),
you will need your Root Server (or Relay Server) to be able to resolve your nodes
using the provided hostname.

