
[[configure-the-network]]
==== Networking

===== Mandatory flows

The following flows from the Nodes to the Rudder Root Server (or Relay Server) have to be allowed:

====

include::../../glossary/port-5309.txt[]

include::../../glossary/port-443-nodes.txt[]

include::../../glossary/port-514.txt[]

====

And this one is optional:

====

include::../../glossary/port-5310.txt[]

====

Open the following flow from the clients desktop to the Rudder Root Server:

====

include::../../glossary/port-443-user.txt[]

====

===== Optional flows

These flows are recommended for compatibility:

====

include::../../glossary/port-80.txt[]

====

These flows are used to add features to Rudder:

====

// include::../glossary/big-red-button.txt[]

include::../../glossary/port-5309-node.txt[]

include::../../glossary/cfengine-enterprise.txt[]

====

===== DNS - Name resolution

If you want to be able to trigger agent runs from the Root Server (without
having to wait for regular automated run),
you will need your Root Server (or Relay Server) to be able to resolve your nodes
using the provided hostname.

