/* Rudder CSS - we use standard asciidoc style as a basis */

/* 
 * dark brown
        color: rgb(93,56,29);
        color: #5d381d; 
 * light brown
        color: rgb(151,72,7);
        color: #974807;
 * yellowish
  color: rgb(232,197,78); 
  color: #e8c54e; 
 * very light yellowish
        background-color: #eeebe7 ; 
 * very light grey:
        background-color: #e2e2e2 ; 
 */
pre {
	overflow-x: auto;
}
#content, #header, #toc {
  overflow-x: hidden;
}
body, #toc, #toc *  {
        background-color: #e2e2e2 ; 
        color: black;
}

#toc * {
  font-family: Arial,Helvetica,sans-serif;
}

strong, em, dt, div .title, tt, div.tableblock > table, table * {
  border-color: rgb(93,56,29); 
  background-color: transparent ; 
  color: rgb(93,56,29);
}

#header {
  background-color: #1f1e1e; 
  color: rgb(232,197,78); 
  padding-bottom: 1em;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
}

#header h1 {
  background: url('logoRudder.jpg') no-repeat top left transparent; 
  padding-top: 111px;
}

#header h1, #author, #email *, #revnumber, #revdate  {
  color: #e2e2e2; 
}

@media screen {
  body {
    max-width: 60em; /* approximately 80 characters wide */
    margin-left: 33%;
  }

  img {
    max-width: 100%;
  }

  #toc {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    padding: 0.5em;
    padding-bottom: 1.5em;
    margin: 0;
    overflow: auto;
    border-right: 0px solid #f8f8f8;
    background-color: transparent;
  }
}

#content {
  background-color: #eeebe7 ; 
  padding: 1em;
  margin-top: 2em;
  border: 1px solid rgb(93,56,29);
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
}

h1, h2, h3, h4, h5, h6, #toc .toclevel1, #toc .toclevel2, #toctitle, img {
  background: transparent;
  color: rgb(93,56,29);
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
}

h1, h2, h3, #toctitle {
  border-bottom: 12px solid rgb(232,197,78);
}

h4 {
  border-bottom: 6px solid rgb(232,197,78);
}

h3,h4 {
  float: left;
}

h3 + *, h4 + * {
  clear: left;
}

hr {
  border: 12px solid rgb(232,197,78);
}

#footer {
  border-top: 12px solid rgb(232,197,78);
}

div.listingblock > div.content {
  padding: 0.5em;
  background: #f5f5f5;
  color: #000000;
  border: 1px solid #aaaaaa;
  border-radius: 11px;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
}

div.quoteblock, div.verseblock {
  color: #777777;
}

div.admonitionblock td.content {
  border: 1px solid #aaaaaa;
  background-color: #f5f5f5;
  color: #000000;
  border-radius: 11px;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
}

div.exampleblock > div.title {
  padding-left: 50px;
  padding-top: 21px;
  padding-bottom: 21px;
  background: url(images/icons/example.png) no-repeat left ;
}

div.exampleblock > div.content {
  border: 1px solid rgb(151,72,7);
  background-color: #ececff;
  color: #000000 ;
  border-radius: 11px;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
}

#footnotes hr {
  border-top: 1px solid rgb(232,197,78);
}

 
a, a:visited {
  color: rgb(151,72,7);
  text-decoration:none;
}

a:hover {
  color: rgb(93,56,29);
  background: #e2e2e2;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
}

#toc a:hover {
  color: rgb(93,56,29);
  background: #eeebe7;
  display: block;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
}

#header h1, #author, #email, #revdate, #revnumber {
  padding-left: 1em;
}

