/* Rudder CSS - we use standard asciidoc style as a basis */

body, #toc, #toc *  {
      	background-color: #e2e2e2 ; 
      	color: rgb(93,56,29);
}

#header {
      	background-color: #1f1e1e; 
      	color: rgb(232,197,78); 
      	-moz-border-radius:11px;
      	-webkit-border-radius:11px;
}

#header h1 {
      	background: url('logoRudder.jpg') no-repeat top left transparent; 
	padding-top: 111px;
}

#content {
      	background-color: #eeebe7 ; 
	padding: 1em;
}

h1, h2, h3, h4, h5, h6, #toc .toclevel2, #toctitle {
      	color: rgb(151,72,7);
      	-moz-border-radius:11px;
      	-webkit-border-radius:11px;
}

h1, h2, h3, #toctitle {
      	border-bottom: 12px solid rgb(232,197,78);
}

hr {
      	border: 12px solid rgb(232,197,78);
}

#footer {
      	border-top: 12px solid rgb(232,197,78);
}
div.listingblock > div.content {
      	padding: 0.5em;
      	background: #f5f5f5;
      	color: #000000;
      	border: 1px solid #aaaaaa;
      	border-radius: 11px;
      	-moz-border-radius:11px;
      	-webkit-border-radius:11px;
}

div.quoteblock, div.verseblock {
      	color: #777777;
}

div.admonitionblock td.content {
      	border: 1px solid #aaaaaa;
      	background-color: #f5f5f5;
      	color: #000000;
      	border-radius: 11px;
      	-moz-border-radius:11px;
      	-webkit-border-radius:11px;
}

div.exampleblock > div.title {
      	padding-left: 50px;
      	padding-top: 21px;
      	padding-bottom: 21px;
      	background: url(images/icons/example.png) no-repeat left ;
}

div.exampleblock > div.content {
      	border: 1px solid #6699ff;
      	background-color: #ececff;
      	color: #000000;
      	border-radius: 11px;
      	-moz-border-radius:11px;
      	-webkit-border-radius:11px;
}

#footnotes hr {
      	border-top: 1px solid rgb(232,197,78);
}

 
a, a:visited {
	color: rgb(151,72,7);
     	text-decoration:none;
}
   
#toc a:hover {
	color: rgb(93,56,29);
	background: #eeebe7;
	display: block;
      	-moz-border-radius:11px;
      	-webkit-border-radius:11px;
}

#header h1, #author, #email, #revdate, #revnumber {
	padding-left: 1em;
}

