@media screen {
  body {
    max-width: 50em; /* approximately 80 characters wide */
    margin-left: 16em;
  }

  #toc {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 13em;
    padding: 0.5em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    margin: 0;
    overflow: auto;
    border-right: 3px solid #f8f8f8;
    background: #1f1e1e;
    color: rgb(232,197,78);
  }

  #toc .toclevel1 {
    margin-top: 0.5em;
  }

  #toc .toclevel2 {
    margin-top: 0.25em;
    display: list-item;
    color: rgb(232,197,78);
  }

  #toctitle {
    margin-top: 0.5em;
  color: rgb(232,197,78);
  }

  a, a:visited {
  color: rgb(151,72,7);
  text-decoration:none;
  }
  
  #toc a:hover {
	  color: rgb(232,197,78);
	  background: rgb(151,72,7);
	  display: block;
  }

}
