<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <!--<a class="navbar-item" href="#">Home</a>-->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="http://faq.rudder-project.org/">FAQ</a>
            <a class="navbar-item" href="http://www.rudder-project.org/changelog">Changelog</a>
            <a class="navbar-item" href="http://www.rudder-project.org/doc">User manual</a>
            <a class="navbar-item" href="http://www.rudder-project.org/rudder-api-doc/">API reference</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://www.rudder-project.org/site/get-rudder/downloads/">Download</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
